.container{
    display:flex;
    margin-top:100px;
    height:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid{
    display:flex;
    flex-flow: wrap;
    width:70%;
    height:auto;
    justify-content: center;
}