.filter-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1150px;
}

.filter-dropdowns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0px 60px;
}
.filter-dropdowns div{
    margin: 0px 20px
}

.filter-checkbox{
    display:flex;
    flex-direction:column;
    flex-flow: wrap;
}

.input-checkbox{
    width:180px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-checkbox span{
    font-size:12px;
}