.admin-panel-container{
    margin-top:150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.register-form{
    display:flex;
    width:1150px;
    height:auto;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin:0 auto;
}

.button-create-acompanhante{
    border:2px solid #6A033A;
    margin: 20px auto;
}