*{
    text-decoration: none;
}
.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 100px;
    width: 100%;
    background-color: #6A033A;
    position:absolute;
    top: 0;
}

.logo img{
    border-radius:90px;
    position: relative;
    top:55px;
}

.list-items{
    display:flex;
    flex-direction: row;
    align-items: center;
}



.list-items li{
    margin:30px;
    border-bottom: 5px solid white;
    text-align: center;
    padding-top:15px;
    height:30px;
    color: white;
}

.list-items-Home{
    padding-top:5px !important;
    border-bottom:5px solid #6A033A!important;
}

.list-items-link{
    text-decoration: none;
    color: white;
}

.list-items-link:hover{
    color: white;
}

.anunciar{
    text-align: center;
    color:#6A033A !important;
    background-color:white;
    padding-top:15px;
    border-bottom:5px solid #6A033A;
    border-radius:5px;
    height:30px;
    width: 120px;
}

.anunciar:hover{
    transition:1000ms;
    text-align: center;
    color:white !important;
    background-color:#6A033A;
    border-bottom:5px solid #6A033A;
    border-radius:5px;
    padding-top:15px;
    height:30px;
    width: 120px;
}

@media (max-width:850px) {
    .navbar{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        height: auto;
        width: 100%;
        background-color: #6A033A;
        position:absolute;
        top: 0;
    }
    .list-items{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .logo img{
        border-radius:90px;
        position: relative;
        top:7vw;
        left:3vw;
    }
}