.card-detail-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height:auto;
    margin: 200px 0px 30px 0px;
}
.card-detail{
    display:flex;
    justify-content:center;
    width:1150px;
    height:auto;
    flex-direction: column;
    border: 2px solid #6A033A
}
.gallery-description{
    display:flex;
    justify-content:center;
    flex-direction:row;
}
.gallery{
    width:70%;
    height:500px;
    /* height: auto;  */

}
.img{
    width:100%;
    height:100%;
}
.description-container{
    width:30%;
    height:500px;
    /* height: auto; la altura es de 500 px solo para maqueta*/ 
    border: 2px solid #6A033A;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin:0 auto;
}
.name-container{
    font-size: 24px;
    margin-bottom:20px;
}

.description{
    text-align: center;
}
.description ul{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    
}
.description ul li{
    height:40px;
    width: 240px;
    font-size:18px;
    border-bottom: 2px solid #6A033A;
}
.contact-button{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border:2px solid #6A033A;
    margin-top:20px;
    padding:4px;
    border-radius: 4px;
}
.contact-button a{
    text-decoration:none;
    color:black;
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
}
.contact-button a:hover{
    text-decoration:none;
    color:black;
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
}
.tags-list{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    gap: 2vw;
    padding:30px
}
.tags{
    border :2px solid #6A033A;
    height:30px;
    width:auto;
    padding:2px 8px;
    list-style:none;
    border-radius: 4px;
}

@media (min-width: 850px) and  (max-width:1200px) {
    .gallery-description{
        display:flex;
        justify-content:center;
        flex-direction:column;
    }
    .card-detail{
        display:flex;
        justify-content:center;
        width:70vw;
        height:auto;
        flex-direction: column;
    }
    .gallery{
        width:60vw;
        height:50vh;
        margin: 0 auto;
        

    }
    .img{
        width:100%;
        height:100%;
    }
    .description-container{
        width:60vw;
        height:20vh;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        margin: 0 auto;
    }
    .tags-list{
        display:flex;
        justify-content:flex-start;
        gap: 2vw;
        align-items:center;
        flex-direction:row;
        padding:30px;
        width:60vw;
        margin: 0 auto;
    }
}

@media (max-width: 850px) {
    .card-detail-container{
        display:flex;
        justify-content:center;
        align-items:center;
        width: 100%;
        height:auto;
        margin: 100vh 0px 0px 0px;
    }
    .card-detail{
        display:flex;
        justify-content:center;
        width:70vw;
        height:auto;
        flex-direction: column;
    }
    .gallery-description{
        display:flex;
        justify-content:center;
        flex-direction:column;
    }
    .gallery{
        width:60vw;
        /* height:30vh; */
        margin: 0 auto;
        height: auto; 
    }
    .img{
        width:100%;
        height:100%;
    }
    .description-container{
        width:60vw;
        /* height:20vh; */
        height: auto;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .tags-list{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction:column;
        padding:30px;
        width:60vw;
        margin: 0 auto;
    }

}
    
